imports:
  - { resource: vendor/drupol/php-conventions/config/php73/grumphp.yml }

parameters:
    tasks.license.holder: Pol Dellaiera
    tasks.license.date_from: 2021
    extra_tasks:
        phpspec:
            verbose: true
        behat: ~
        phpunit: ~
        infection:
            threads: 1
            test_framework: phpspec
            configuration: infection.json.dist
            min_msi: 85
            min_covered_msi: 85
